body { /* Customization for the backround of the document */
    text-align: center;
    margin: 0 auto;
    background-color: #32e0c3b9;
    background-image: linear-gradient(color, color);
}

h1 { /* settings for the firs header of the document */
    margin-top: 0;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 32px;
}

p {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: left;
    font-size: 20px;
    max-width: 30vw;
    
}

img { /* Customization for all images without a specific class */
    max-width: 50vw; /* sets the max with of an image */
    text-align: center; /* Tells the image where it's meant to be */
    margin: 0 auto;
    width: 30vw; /* the images width */
    height: 20vw; /* the images height */
}

a:link {
    color:blue
}
a:visited {
    color:blueviolet
}
a:focus{
    color:crimson
}
a:hover {
    color:red
}
a:active {
    color:lightslategray
}

.page-overlay {
    padding-top: 3px;
    padding-bottom: 10px;
    color: rgb(255, 255, 255);
    max-width: 60vw;
    margin: 0 auto;
    background-color: #5b6677;
    min-height: calc(100vh - 65px);
}

.my-list {
    background-position: center;
    max-width: 30vw;
    border-width: 5px;
    border-style: solid;
    border-radius: 25px;
    border-color: #393E46;
    background-color: #969494;
    margin: 1em auto;
    text-align: left;
    list-style: none;
}

.list-text-color {
    color:black;
    font-weight: bold;
    font-style: italic;
}