body{
    margin: 0;
}
.navbar { 
    overflow: hidden;
    background-color: rgb(45, 48, 63);
    display: fixed;
    position: sticky;
    top: 0;
    padding-top: 0%;
}

nav > ul{
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
    margin: 1em 1em 1em 0;
}
nav li {
    margin: 0;
}

.navbar a {
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    padding: 16px 60px;
    text-decoration: none;
}

.navbar a:hover, .dropdown:hover .dropbtn { 
    background-color: rgb(10, 119, 10);
}