body { /* Customization for the backround of the document */
    text-align: center;
    margin: 0 auto;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(5,255,235,1) 100%); /* A gradient, this dose so that the page has different colors that fade into eachother. */
    background-image: linear-gradient(color, color);
}

a:link {
    color:blue
}
a:visited {
    color:blueviolet
}
a:focus{
    color:crimson
}
a:hover {
    color:red
}
a:active {
    color:lightslategray
}